<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>iconImage</key>
			<string>more_icon_share_21x21_</string>
			<key>leftTitle</key>
			<string>邀请好友使用单糖</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenRightTip</key>
			<true/>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>more_icon_score_21x21_</string>
			<key>leftTitle</key>
			<string>给我们评分吧</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenRightTip</key>
			<true/>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>more_icon_feedback_21x21_</string>
			<key>leftTitle</key>
			<string>意见反馈</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenRightTip</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>iconImage</key>
			<string>checkUserType_icon_identity_21x21_</string>
			<key>leftTitle</key>
			<string>我的身份</string>
			<key>rightTitle</key>
			<string>男孩 职场新人</string>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenRightTip</key>
			<false/>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>more_icon_notification_21x21_</string>
			<key>leftTitle</key>
			<string>接收消息提醒</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenSwitch</key>
			<false/>
			<key>isHiddenRightTip</key>
			<true/>
		</dict>
		<dict>
			<key>iconImage</key>
			<string>more_icon_clear_21x21_</string>
			<key>leftTitle</key>
			<string>清除缓存</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenRightTip</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>iconImage</key>
			<string>more_icon_about_21x21_</string>
			<key>leftTitle</key>
			<string>关于单糖</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenRightTip</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
